/* Font size  */
.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}


/* Font Weight  */
.bold {
  font-weight: 700;
}

/* Line Height */
.leading-relax {
  line-height: 1.6;
}


/* Display */
.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}